@import url('/styles/header.css');
@import url('/styles/banner.css');
@import url('/styles/coach.css');
@import url('/styles/cursos.css');
@import url('/styles/Discord.css');
@import url('/styles/product.css');
@import url('/styles/equipe.css');
@import url('/styles/premios.css');
@import url('/styles/planos.css');
@import url('/styles/garantia.css');
@import url('/styles/referencias.css');
@import url('/styles/FAQ.css');
@import url('/styles/premiaçao.css');

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

@keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
}

@keyframes slide-left {
    0% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
}

@keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}

:root{
    --cor-Primaria: #3DB1AE;
    --cor-Secundaria: #f0f0f0;
    --cor-Fundo: black;
    --cor-gradiente: linear-gradient(90deg, rgba(221,38,128,1) 0%, rgba(116,79,158,1) 100%);
    --button-gradiente: linear-gradient(90deg, rgba(208,47,142,1) 0%, rgba(32,167,171,1) 100%);
    --font-Principal: 'Poppins', sans-serif;
    --font-Secundaria: 'Fjalla One', sans-serif;
    --cinza: #A7A7A7;
}

body{
    background-color: var(--cor-Fundo);
    font-family: var(--font-Principal);
    font-size: 1em;
    font-weight: 400;
    box-sizing: border-box;
}

.body:before {
    display: block;
    height: 100%;
    width: 100%;
    background-color: var(--cor-Fundo);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.texto_destaque{
    background: var(--button-gradiente); /* Cores do gradiente */
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
}

.texto_negrito{
    color: var(--cor-Fundo);
    font-weight: 600;
}

.CA{
    font-size: 18px;
}

.hide{
    display: none;
}

.scale-up-ver-top {
	-webkit-animation: scale-up-ver-top 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-top 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.scale-up-center {
	-webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.slide-left1 {
	-webkit-animation: slide-left 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-left2 {
	-webkit-animation: slide-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-left3 {
	-webkit-animation: slide-left 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.botao-topo {
    cursor: pointer;
    position: fixed;
    bottom: 4%;
    right: 2%;
    width: 50px;
    height: 50px;
    background: var(--button-gradiente);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 10000;
}
  
.botao-topo img {
    width: 1.8rem;
}
