.banner6{
    background-color: white;
    padding: 3em 1.5em;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

.banner6__destaque{
    letter-spacing: 5px;
}

.banner6__text{
    font-size: 0.87em;
}

.banner6__subtitle{
    font-size: 1.3em;
    font-weight:600;
}

.banner6__subtitle2{
    font-size: 1.3em;
    font-weight:600;
}

.banner6__subtitle3{
    font-size: 0.75em;
}

.banner6__button{
    font-size: 1.5em;
    font-weight: 500;
    font-family: var(--font-Secundaria);
    background: var(--button-gradiente);
    padding: 0.5em 0.5em;
    border-radius: 10px;
    cursor: pointer;
    animation: pulse 1s infinite;
    color: white;
    margin-bottom: 1em;
}

.banner6__telaContador{
    font-size: 2.5em;
    font-weight: 700;
}
