.banner3{
    color: white;
    background-image: url("/assets/img/paisagem-florestal.avif");
    background-position: center;
    background-size: cover;
    box-shadow: 11.25em 0 3.75em inset rgba(0, 0, 0, 0.672);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding: 3em 1.5em;
}

.banner3__destaque{
    font-size: 1em;
    letter-spacing: 3px;
}

.banner3__title{
    font-size: 1.75em;
    font-weight: 600;
}

.banner3__button{
    width: 200px;
    font-size: 1.5em;
    font-weight: 500;
    font-family: var(--font-Secundaria);
    background: var(--button-gradiente);
    padding: 0.3em;
    border-radius: 18px;
    cursor: pointer;
    animation: pulse 1s infinite;
    color: white;
}