.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    color: var(--cor-Secundaria);
}

.banner__img{
    width: 120px;
}

.banner__video{
    width: 250px;
    border-radius: 10px;
    z-index: 0;
}

.banner__title{
    font-size: 22px;
    font-weight: 500;
}

.banner__text{
    font-size: 10px;
    letter-spacing: 1px;
}

.banner__button{
    font-size: 14px;
    font-weight: 500;
    background-color: var(--cor-Primaria);
    padding: 1em 1.5em;
    border-radius: 5px;
    cursor: pointer;
}