.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    color: var(--cor-Secundaria);
    z-index: 99;
}

.banner__img{
    width: 7.5em;
}

.banner__video{
    width: 18.1em;
    border-radius: 0.62em;
    z-index: 0;
}

.banner__title{
    font-size: 1.37em;
    font-weight: 500;
}

.banner__text{
    font-size: 0.62em;
    letter-spacing: 1px;
}

.banner__button{
    font-size: 1.5em;
    font-weight: 500;
    font-family: var(--font-Secundaria);
    background: var(--button-gradiente);
    padding: 0.5em 0.5em;
    border-radius: 18px;
    cursor: pointer;
    animation: pulse 1s infinite;
}

.texto_destaque_banner{
    background: var(--button-gradiente); /* Cores do gradiente */
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
}