.banner5{
    background-color: white;
    padding: 2.5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
}

.banner5__destaque{
    font-size: 1em;
    letter-spacing: 5px;
}

.banner5__title{
    font-size: 1.5em;
    font-weight: 600;
}

.banner5__text{
    font-size: 0.75em;
    letter-spacing: 1px;
}

.banner5__img{
    border-radius: 0.62em;
}

.banner4__button{
    font-size: 1.5em;
    font-weight: 500;
    font-family: var(--font-Secundaria);
    background: var(--button-gradiente);
    padding: 0.5em 0.5em;
    border-radius: 10px;
    cursor: pointer;
    animation: pulse 1s infinite;
    color: white;
    margin-bottom: 1em;
}