.equipe{
    background-color: white;
    padding: 2.5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
}

.equipe__destaque{
    font-size: 1em;
    letter-spacing: 5px;
}

.equipe__title{
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}

.equipe__text{
    font-size: 0.75em;
    letter-spacing: 1px;
}

.equipe__img{
    border-radius: 0.62em;
    width: 18.5em;
}

.equipe__button{
    background: var(--button-gradiente);
    color: white;
    padding: 0.8em 2em;
    border-radius: 5px;
    font-weight: 500;
}