.FAQ{
    background-color: black;
    padding: 1em 1em 5em 1em;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
    color: var(--cinza);
}

.FAQ__text{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.FAQ__title{
    font-size: 2.37em;
    font-weight: 600;
}

.FAQ__paragrafo{
    color: white;
    letter-spacing: 5px;
}

.FAQ__cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-align: start;
}

.FAQ__card__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: var(--cor-Fundo);
    padding: 0.8em;
    border-radius: 0.62em;
    width: 300px;
}

.FAQ__card__pergunta{
    font-weight: 600;
    display: flex;
    align-items: center;
}

.arrow_img{
    width: 1.25em;
    transform: scaleY(-1);
}

.FAQ__card__resposta{
    line-height: 1.25em;
}


.FAQ__card__container--14 .FAQ__card__pergunta{
    gap: 7em;
}
.FAQ__card__container--19 .FAQ__card__pergunta{
    gap: 7em;
}
.FAQ__card__container--36 .FAQ__card__pergunta{
    gap: 7em;
}
.FAQ__card__container--42 .FAQ__card__pergunta{
    gap: 7em;
}