.garantia{
    padding: 4em 1em;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1em;
}

.garantia__img{
    width: 250px;
}

.garantia__destaque{
    font-size: 16px;
    letter-spacing: 8px;
}

.garantia__title{
    font-size: 32px;
    font-weight: 600;
}

.garantia__text{
    font-size: 13px;
}

.garantia__button{
    background: var(--button-gradiente);
    width: 250px;
    padding: 1em 0.5em;
    border-radius: 5px;
    font-weight: 500;
    color: white;
}