.garantia{
    padding: 4em 1em;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1em;
}

.garantia__img{
    width: 15.6em;
}

.garantia__title{
    font-size: 2em;
    font-weight: 600;
}

.garantia__text{
    font-size: 0.81em;
}

.garantia__button{
    background: var(--button-gradiente);
    width: 15.62em;
    padding: 1em 0.5em;
    border-radius: 5px;
    font-weight: 500;
    color: white;
}