.garantia{
    padding: 4em 1em;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1em;
    color: black;
    box-shadow: inset 1px 1px 30px black
}

.garantia__img{
    width: 15.6em;
}

.garantia__title{
    font-size: 2em;
    font-weight: 600;
}

.garantia__text{
    font-size: 0.81em;
}

.garantia__button{
    font-size: 1.5em;
    font-weight: 500;
    font-family: var(--font-Secundaria);
    background: var(--button-gradiente);
    padding: 0.5em 0.5em;
    border-radius: 18px;
    cursor: pointer;
    animation: pulse 1s infinite;
    color: white;
    margin-bottom: 1em;
}

@media screen and (min-width: 1024px){
    .garantia{
        width: 100%;
        color: black;
    }
    .garantia__title{
        font-size: 2.5em;
    }
    .garantia__text{
        font-size: 1.5em;
    }
}