.Oferta{
    background: var(--cor-gradiente);
    padding: 0.5em 1.5em;
    text-align: center;
    color: var(--cor-Secundaria);
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 0.75em;
    font-style: italic; 
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3em 1em;
    background-color: var(--cor-Fundo);
}

.header__logo{
    width: 6.25em;
}

.menu {
    width: 100%;
    padding: 0.5em 0;
    background: var(--button-gradiente);
    box-shadow: 3px 3px 30px inset black;
    transition: all 0.3s ease-in-out;
    z-index: 99;
}

.menu__list {
    list-style-type: none;
    padding: 0;
}

.menu__link {
    display: block;
    color: whitesmoke;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
    padding: 0.75em 1em;
    text-decoration: none;
}

.menu__link:hover {
    background-color: #1d1d1d63;
}

.menu-button {
    cursor: pointer;
    width: 1.87em;
}

.open-menu{
    display: none;
}