.premiaçoes_body{
    background-color: rgb(245, 245, 245);
    font-family: var(--font-Principal);
    box-sizing: border-box;
    color: var(--cor-Fundo);
}

.premiaçoes_header{
    display: flex;
    justify-content: center;
}

.premiaçoes_main{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

.premiaçoes__title{
    color: #1c293b;
    font-size: 25.2px;
    line-height: 32px;
    font-weight: 600;
    padding-right: 2em;
}

.premiaçoes__separator{
    width: 100%;
    border: 1px solid rgba(173, 173, 173, 0.616);
    border-radius: 50%;
    margin: 1em 0;
}

.premiaçoes__topic__title{
    font-size: 1.3em;
    font-weight: 600;
    border-left: 4px solid black;
    padding-left: 5px;
}

.premiaçoes__topic__text{
    font-size: 1em;
}

.premiaçoes__topic__premios{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.premiaçoes__card{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 1em 0;
}

.premiaçoes__card__title{
    font-size: 1.3em;
}

.premiaçoes__card__subtitle{
    font-size: 0.8em;
}

.premiaçoes__card__img{
    width: 200px;
    align-self: center;
    margin: 0.8em  0;
}

.premiaçoes__card__text{
    font-weight: 600;
    font-size: 0.9em;
    text-align: center;
}

@media screen and (min-width: 1024px){
    .premiaçoes__topic__premios{
        text-align: center;
    }
    .premiaçoes__card__text{
        padding: 0 20em;
    }
    .premiaçoes__topic__title{
        text-align: start;
    }
    .premiaçoes__title{
        text-align: center;
        padding-right: 0em;
    }
}