.premios{
    background-color: white;
    padding: 2.5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
}

.premios__destaque{
    font-size: 1em;
    letter-spacing: 5px;
}

.premios__title{
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}

.premios__text{
    font-size: 0.75em;
    letter-spacing: 1px;
}

.premios__img{
    border-radius: 0.62em;
    width: 19em;
}
.premios__img2{
    border-radius: 0.62em;
    width: 19em;
    font-display: none;
}

.premios__button{
    font-size: 1.5em;
    font-weight: 500;
    font-family: var(--font-Secundaria);
    background: var(--button-gradiente);
    padding: 0.5em 0.5em;
    border-radius: 18px;
    cursor: pointer;
    animation: pulse 1s infinite;
    color: white;
    margin-bottom: 1em;
}

.premios-tab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
}

@media screen and (min-width: 1024px){
    .premios{
        flex-direction: row-reverse;
        padding: 2em;
        gap: 2.5em;
    }
    .premios__img{
        display: none;
    }
    .premios__img2{
        display: block;
        width: 30em;
        box-shadow: 3px 3px 40px black;
    }
    .premios-tab{
        text-align: start;
        align-items: flex-start;
    }
    .premios__text{
        font-size: 1em;
    }
    .premios__title{
        text-align: start;
        font-size: 1.8em;
    }
}