.product{
    background-color: black;
    color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    text-align: center;
    align-items: center;
}

.product__destaque{
    font-size: 1em;
    letter-spacing: 5px;
}

.product__title{
    font-size: 1.5em;
    font-weight: 600;
}

.product__text{
    font-size: 0.87em;
    letter-spacing: 1px;
    padding-bottom: 2em;
}

.swiper__organizer{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.swiper__container{
    background-color: var(--cor-Fundo);
    padding: 0.8em 0.8em 0 0.8em;
    border-radius: 0.62em;
    cursor:grab;
}

.swiper{
    background-color: var(--cor-Fundo);
    width: 17.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.swiper-slide img {
    margin-bottom: 1.5em;
    width: 100%; /* Garante que a imagem não ultrapasse a largura do slide */
    max-height: 100%; /* Garante que a imagem não ultrapasse a altura do slide */
    border-radius: 0.62em;
}

.product__desktop__title, .product__mobile__title{
    font-size: 1.25em;
    font-weight: 600;
    letter-spacing: 2px;
    padding-bottom: 0.7em;
}

#iframe-video{
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 1024px){
    .swiper__organizer{
        flex-direction: row;
    }
    .swiper{
        width: 450px;
    }
    #iframe-video{
        width: 950px; 
        height: 515px;
    }
}