.serviços{
    background-color: rgb(238, 237, 237);
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    align-items: center;
    justify-content: center;
}

.serviços__title{
    margin: 2em 2em 1em 2em;
    text-align: center;
    letter-spacing: 5px;
}

.serviços__text{
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0 1.5em 1em 1.5em;
}

.serviços__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    background-color: white;
    border-radius: 0.62em;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.083);
    padding: 3em 1.5em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 17.5em;
    height: 21.8em;
}

.card__icon{
    width: 2.5em;
}

.card__title{
    font-size: 1.4em;
    font-weight: 500;
}

.card__text{
    font-size: 0.81em;
    color: rgba(0, 0, 0, 0.616);
}

.serviços__button{
    font-size: 1.5em;
    font-weight: 500;
    font-family: var(--font-Secundaria);
    background: var(--button-gradiente);
    padding: 0.5em 0.5em;
    border-radius: 18px;
    cursor: pointer;
    animation: pulse 1s infinite;
    color: white;
    margin-bottom: 1em;
}
